@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900|Open+Sans:400,600,700,800&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
.fw {
  width: 100%;
}

.bold {
  font-weight: 700;
}
.font-mont {
  font-family: 'Montserrat', sans-serif;
}
.black-link {
  color: #000000;
  text-decoration: underline;
}
.fs30 {
  font-size: 30px;
}
.fs35 {
  font-size: 35px;
}
.fs41 {
  font-size: 41px;
}
.fs48 {
  font-size: 48px;
}
.top-section {
  position: relative;
}
.f18b {
  font-size: 18px;
  font-weight: bold;
}
.f26sb {
  font-size: 26px;
  font-weight: 600;
}
.f17sb {
  font-size: 18px;
  font-weight: 600;
}


/*Navigation Styles*/
.navbar {
  padding: .5rem 2rem;
  z-index: 1;
  background-color: transparent !important;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;  
}
.navbar-toggler {
  border-radius: 50%;
  padding: .75rem;
  background-color: #d65353;
  border-color: #d65353 !important;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}
.navbar-nav, .dropdown-menu {
  padding-top: 10px;
  background: rgba(0,0,0,0.5);
}
.navbar-nav .nav-link, .dropdown-item {
  color: #fff !important;
  text-align: right;
}
.nav-item.dropdown{
  padding-right: 30px;
}
/* Home Jumbotron styles */
.jumbotron.banner {
  background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7) ),url(../images/mobile-banner.jpg) no-repeat center;
  height: 80vh;
  display: flex;
  background-size: cover;
}
.jumbotron-content {
  max-width: 90vw;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
}
.jumbotron-content span {
  font-size: 2rem;
  color: #ffffff;
  font-weight: 700;
}

.colored-title {
  letter-spacing: 2.5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 20px;
}

.who-serve {
  padding: 0 35px;
  margin-bottom: 2rem !important;
}
.who-serve p{
  line-height: 38px;
  margin-bottom: 0px;
}
.who-serve p a{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;;
  font-weight: bold;
  color: #FE875D;
}
/* Donate Clothing Jumbotron styles */
.DCjumbotron.banner {
  font-family: 'Montserrat', sans-serif;
  background: url(../images/man-shipping-box.jpg) no-repeat center;
  height: 80vh;
  display: flex;
  background-size: cover;
}
.DCjumbotron-content {
  max-width: 90vw;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
}
.DCjumbotron-content span {
  font-size: 2rem;
  color: #000000;
  font-weight: 700;
}
div.transbox {
  margin: 30px;
  padding: 30px;
  background-color: #ffffff;
  opacity: 0.8;
  width: 400px;
}
div.transbox p {
  margin: 2%;
  font-weight: medium;
  color: #000000;
}

/* END Donate Clothing Jumbotron styles END*/

/* Donate Clothes Body styles */

/* END Donate Clothes styles END */
  

.btn-donate {
  min-width: 150px;
  margin: 20px auto 0;
  color: #fff;
  background-color: #dc4140;
  border-color: #dc4140;
}
.btn-emailus {
  display: block;
  margin: 85px auto 0;
  padding: 10px 16px;
  color: #fff;
  background-color: #dc4140;
  border-color: #dc4140;
}
.btn-donate:hover {
  color: #fff;
  background-color: #d65353;
  border-color: #d65353;
}
.btn-donate:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(123,0,0,.25);
}
.section-gutter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem !important;
}
.img-center {
  width: 40%;
  margin: 0 auto;
}
.img-center img, .clothes-img img, .people-img img {
  width: 100%;
}
.people-img {
  width: 60%;
}
.clothes-img {
  width: 33%;
  text-align: center;
}
.clothes-img  span {
  font-size: 14px;
  font-weight: 700;
}

.fire-section {
  color: #ffffff;
  height: 270px;
  background: url(../images/fire.jpg) no-repeat center;
  background-size: cover;
  padding: 32px 77px 18px 43px;
}

.btn.btn-light {
  width: 135px;
  padding: 11px 13px;
  font-size: 15px;
  color: #000000;
  background-color: #FFFFFF;
  border-color: #FFFFFF;
  margin-top: 80px;
}
.orange-text {
  color: #DC4140;
}
.orange-link {
  color: #FE875D;
}
.paycheck-section{
  color: #ffffff;
  height: 270px;
  background: url(../images/mobile-paycheck-story.jpg) no-repeat center;
  background-size: cover;
  padding: 33px 30px 45px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-to-top {
  width: 170px;
  color: #DC4140;
  background-color: transparent;
  border-color: #DC4140;
  border-width: 2px;
  margin-top: 30px;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  background-color: #343a40!important;
  color: rgba(255,255,255,.5)!important;
  padding: 1.5rem 0 !important;
}

.social-icons {
  flex-direction: row;
  margin: 20px 0;
}
.social-icons .fab {
  color: #37375d;
  font-size: 35px;
  font-weight: 900;
  padding: 10px;
  border: 3px solid #37375d;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin: 0 13px;
  text-align: center;
}

.cyan-text {
  color: #46D5E1;
  font-size: 20px;
  font-weight: bold;
}

.footer {
  background-color: #F0EAE5;
}
.footer>div {
  padding: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


@media only screen and (min-width: 768px) {
  .mb40 {
    margin-bottom: 40px !important;
  }
  .mb60 {
    margin-bottom: 60px !important;
  }
  .mb100 {
    margin-bottom: 100px !important;
  }
  .navbar {
    background-color: #f8f9fa !important;
    position: unset;
  }
  .navbar-nav, .navbar-nav .nav-link, .dropdown-item {
    background: transparent;
    color: #000000 !important;
    text-align: left;
  }
  .dropdown-menu {
    padding-top: 10px;
    background: #fff;
  }
  .mw150 {
    max-width: 150px;
  }
  .jumbotron.banner {
    background: url(../images/banner.png) no-repeat center;
  }
  .jumbotron-content span {
    font-size: 3.5rem;
    display: flex;
  }
  .btn-donate {
    margin: 20px 0 0;
  }
  .display-block {
    display: block;
  }
  .flex-row {
    flex-direction: row;
  }
  .img-center {
    width: 25%;
    margin: 0px;
  }
  .mauto {
    margin: auto;
  }
  .clothes-img {
    width: 60%;
    margin: auto;
  }
  .btn-donate-clothes {
    min-width: 150px;
    margin: 40px 0 0;
    color: #fff;
    background-color: #dc4140;
    border-color: #dc4140;
    padding: 15px 20px;
  }
  .colored-title {
    font-size: 60px;
  }  

  .fire-section {
    padding: 100px 50px 100px;
    height: 600px;
  }
  .fire-section h3{
    font-size: 60px;
    font-weight: 700;
  }
  .fire-section span{
    display: block;
    font-size: 30px;
  }
  .people-img {
    width: 82%;
  }
  .btn.btn-light {
    width: 230px;
    padding: 14px 32px;
    font-size: 23px;
    margin-top: 120px;
  }
  .serve-text {
    font-size: 31px;
  }
  .serve-text p {
    line-height: 55px;
  }
  .who-serve p a{
    font-size: 30px;
    line-height: 55px;
  }
  .paycheck-section h2 {
    font-size: 4rem;
  }
  .paycheck-section {
    height: 700px;
    background: url(../images/paycheck-story.jpg) no-repeat center;
    background-size: cover;
    padding: 150px 100px 100px;
  }
  .btn-emailus {
    margin: 60px 0 0;
    padding: 18px 45px;
  }
  .social-icons .fab {
    font-size: 25px;
    font-weight: 900;
    padding: 10px;
    width: 50px;
    height: 50px;
    margin: 0 6px;
  }
}

@media only screen and (min-width: 992px) {
  .colored-title {
    font-size: 80px;
  }
  .fire-section {
    padding: 100px 0 18px 150px;
  }
  .paycheck-section {
    padding: 200px 100px 100px;
  }
  .social-icons .fab {
    font-size: 35px;
    font-weight: 900;
    padding: 10px;
    width: 60px;
    height: 60px;
    margin: 0 13px;
  }
}